<div>
    <h1 data-chronometer>00:00:00</h1>
    <hr>
    <button class="btn" id="play">play</button>
    <button class="btn" id="pause" style="visibility: hidden;">pausa</button>
    <button class="btn" id="reset">reset</button>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

    h1{
        font-family: 'Roboto Mono', monospace;
        font-size: 50px;
        margin: 0;
    }
    .btn {
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        text-shadow: 1px 1px 3px #666666;
        font-family: Courier New;
        color: #ffffff;
        font-size: 40px;
        background: #3498db;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }

    .btn:hover {
        background: #3cb0fd;
        text-decoration: none;
    }
</style>